body {
  font-family: 'DINPro-Regular', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1;
}

a {
  color: #fed136
}

a:hover {
  color: #fec503
}

.text-primary {
  color: #fed136!important
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
}

section {
  padding: 80px 0
}

/*FONTS DIN-Pro*/

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Regular.otf') format('opentype'), url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype'), url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Bold.otf') format('opentype'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Medium.otf') format('opentype'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.btn {
  font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
  font-weight: 700
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px
}

.btn-primary {
  background-color: #434040;
  border-color: #434040;
}

.btn-primary:hover {
  background-color: #827878;
  border-color: #827878;
}

.btn-primary:active, .btn-primary:focus {
  background-color: #434040;
  border-color: #434040;
  color: #fff
}

::-moz-selection {
  background: #fed136;
}

::selection {
  background: #fed136;
}

body {
  -webkit-tap-highlight-color: #fed136;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #434040;
  border-color: #434040;
  box-shadow: none;
}

@media (min-width: 768px) {
  .header-intro {
    background: url('../img/back.jpg') no-repeat;
    background-size: cover;
    position: relative;
  }
}

.header-intro-text {
  background: url('../img/yellow.png') no-repeat;
}

.header-content-form {
  -webkit-box-shadow: -4px 6px 19px 1px rgba(34, 34, 34, 0.35);
  -moz-box-shadow: -4px 6px 19px 1px rgba(34, 34, 34, 0.35);
  box-shadow: -4px 6px 19px 1px rgba(34, 34, 34, 0.35);
  transform: translateY(45px);
}

.header-content-form-title {
  padding: 25px;
  background-color: #fac523;
}

.header-content-form-title h2 {
  font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
  color: #222222;
  font-size: 22px;
  text-transform: uppercase;
}

.header-intro-text-claim {
  font-size: 45px;
  line-height: 45px;
  color: #434040;
  padding: 28px 0 15px 15px;
  width: 42%;
}
.header-intro-text-tel {
  background-color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: bold;
  color: #434040;
  padding: 30px 0 0px;
}
.header-intro-text-tel>a{
  color:#434040;
  cursor: default;
  text-decoration: none;
}

.header-intro-text-claim strong {
  font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
}

.brand {
  padding-top: 70px;
}

#mauticform_landingalcobendas {
  padding: 0px 40px 20px;
  background-color: #fff;
}

#mauticform_landingalcobendas .form-control {
  border: 1px solid #aaaaaa;
}

.form-control::-webkit-input-placeholder {
  color: #222222;
}

.form-control::-moz-placeholder {
  color: #222222;
}

.form-control:-ms-input-placeholder {
  color: #222222;
}

.form-control:-moz-placeholder {
  color: #222222;
}

.checkbox label {
  font-size: 13px;
}

.checkbox a {
  text-decoration: underline;
  color: #156da5;
}

#mauticform_landingalcobendas input[type="checkbox"] {
  margin: 4px 10px 0px 4px;
  float: left;
}

.btn-style {
  text-transform: uppercase;
  font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  border-radius: 0;
}

.text-form p {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .header-intro-text-claim {
    width: 70%;
  }
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .header-intro-text-claim {
    width: 58%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .header-intro-text {
    -ms-flex: 0 0 71%;
    flex: 0 0 71%;
    max-width: 71%;
  }
  .brand {
    -ms-flex: 0 0 26.666667%;
    flex: 0 0 26.666667%;
    max-width: 26.666667%;
  }
}

@media (max-width: 990px) {
  .header-intro-text {
    height: auto;
    background-size: 50%;
  }
  .header-intro-text-claim {
    padding: 118px 0 0 35px;
    width: 55%;
  }
  .header-intro-text-claim strong,.header-intro-text-claim {
    font-size: 45px;
    line-height: 45px;
  }
  .brand {
    transform: translateY(-72px);
    padding-top: 0;
    padding-left: 20px;
  }
  .header-intro {
    background: url('../img/back-mobile.jpg') no-repeat;
    background-size: contain;
  }
  .header-form-row {
    margin-top: 42rem;
  }
  .header-intro-text-claim {
    width: 100%;
    padding: 0;
    transform: translateY(728px);
    text-align: center;
    margin-bottom: 0;
  }
  .header-intro-text-tel {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
    color: #434040;
    padding: 30px 0 20px;
    text-decoration: underline;
  }
  .header-intro-text-tel>a{
    color:#434040;
  }

  .footer-above {
    text-align: center;
  }
  .header-content-form-title {
    display: none;
  }
  .header-content-form.thankyoupage,.header-content-form-title.thankyoupage {
    display: block;
  }
  #mauticform_landingalcobendas {
    padding: 0 40px 20px;
  }
}

@media (max-width: 600px) {
  .header-intro-text {
    background-size: 70%;
  }
  .header-intro-text-claim, .header-intro-text-claim strong {
    font-size: 30px;
    line-height: 30px;
  }
  .header-form-row {
    margin-top: 21rem;
  }
  .header-intro-text-claim {
    transform: translateY(385px);
  }
  .brand {
    transform: translateY(-64px);
  }
  .brand img {
    height: 27px;
  }
  .header-content-form {
    box-shadow: none;
  }

}

  @media (max-width: 320px) {
    .header-form-row {
      margin-top: 17rem;
    }
    .brand {
      transform: translateY(-108px);
      padding-left: 12px;
    }
    .header-intro-text-claim {
      transform: translateY(322px);
    }
  }

  /* services */

  .services {
    background: #313131;
    border-top: 3px solid #d4ab49;
    border-bottom: 3px solid #d4ab49;
  }
  .services-heading-title, .services-heading {
    color: #fff;
  }
  .services-heading {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    .services .col-xs-6  {
      -ms-flex: 0 0 55%;
      flex: 0 0 55%;
      max-width: 50%;
    }
  }



  /* information */

  .information {
    background: #eeeeee;
    padding: 2rem;
  }
  .information-text {
    font-size: 35px;
    line-height: 38px;
  }
  .information-box .timer, .information-box span {
    color: #434040;
  }
  .information-box .timer, .information-box-number {
    font-size: 35px;
  }
  .information-box-text {
    font-size: 30px;
  }
  .information-box .timer, .information-box-number {
    font-family: 'DINPro-Bold', Helvetica, Arial, sans-serif;
  }
  .information-box>p {
    margin-bottom: 5px;
  }
  .hr-line {
    border-top: 5px solid #f9d529;
    width: 40%;
  }
  .plus {
    font-size: 40px;
  }

  .mauticform-errormsg {color: #f92929}

  @media (max-width: 600px) {
    .information-box {
      margin-bottom: 20px;
    }
  }

  /* shop  */

  @media (max-width: 768px) {
    .shop {
      padding: 0;
    }
    .shop .container {
      margin: 0;
    }
    .shop .row.mb-4 {
      margin-bottom: 0!important;
    }
    .shop .col-xs-12 {
      padding: 0;
    }
  }

  /* maps-responsive-buttons */

  @media (min-width: 990px) {
    .maps-responsive-buttons {
      display: none;
    }
  }

  #save-widget {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    background-color: white;
    padding: 10px;
    font-family: Arial;
    font-size: 13px;
    margin: 15px;
  }

  #save-widget p {
    margin-bottom: 10px;
  }



  /* map */

  #map {
    width: 100%;
    height: 500px;
  }
  .map {
    padding: 0;
  }

  .maps-responsive-showmap {
    background-color: #f9d529;
    border-color: #f9d529;
    color: #434040;
  }

  /* footer */

  .footer-grid {
    background: #313131;
  }
  .footer-logo {
    padding-top: 40px;
  }
  .footer-above {
    padding: 40px 0 15px;
  }
  .footer-address p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 22px;
  }
  .social-buttons {
    padding-left: 0;
    list-style: none;
    float: right;
    margin-bottom: 0;
  }
  .social-buttons a {
    color: #fff;
  }
  .footer-below {
    padding: 10px 0 20px 0;
  }
  .footer-below-text {
    color: #fff;
  }
  .footer-address, .footer-below-text {
    padding-left: 0;
  }
  .footer-below-text p {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-below-legal ul {
    float: right;
    margin-bottom: 0;
  }
  .footer-below-legal a {
    text-decoration: none;
    color: #fff;
  }
  .footer-line {
    border-top: 3px solid #f9d529;
  }

  @media (max-width: 768px) {
    .social-buttons {
      float: none;
      margin-top: 30px;
    }
    .footer-below-legal {
      padding-left: 0;
    }
    .footer-below-legal ul {
      float: none;
    }
  }

  /* video */

.popup-youtube {
  position: relative;
  display: block;
  margin: 0 auto;
}

.gallery-box-grid {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.gallery-box-play {
  text-align: center;
  position: relative;
  top: 40%;
}


  @media (max-width: 767px) {
    .gallery-box-play {
      top: 22%;
    }
  }
